{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block container %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Brithday</th>
                <th>Street</th>
                <th>Pc</th>
                <th>City</th>
                <th>Genre</th>
                <th>RegistrationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.brithday ? user.brithday|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.pc }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.genre }}</td>
                <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
    <a href="{{ path('admin') }}">Retour</a>
{% endblock %}
