{% extends "base.html.twig" %}

{% block container %}
<section class="carouselHome">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('image/photo1.jpeg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Accompagnement de nos experts et de notre spécialiste en nutrition animal</h5>
                    <p><button type="button" class="btn border-warning  text-warning px-3" href="#boutique">BOUTIQUE</button></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('image/photo2.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Sélection des plus grandes marques dédiées à l’alimentation et au bien-être de vos animaux</h5>
                    <p><button type="button" class="btn border-warning  text-warning px-3" href="#boutique">BOUTIQUE</button></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('image/photo3.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Paiement sécurisé par carte bancaire</h5>
                    <p><button type="button" class="btn border-warning text-warning px-2" href="#boutique">BOUTIQUE</button></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="container-fluid pt-5">
    <div class="row row-cols-md-5 py-5">
        {% for brand in brands %}
        <a class="col my-5 logoBrand" href="#"><img class="logo_partenaire" src="{{ asset(brand.picture) }}" alt="logo_carnilove"></a>
        {% endfor %}
    </div>
    <p class="w-100 d-flex justify-content-center">
        <button type="col-12 button" class="btn border-warning text-warning px-3" href="#boutique">NOS PARTENAIRES</button>
    </p>

</section>

<section class="container my-5 py-5">
    <h3 class="text-center text-primary pb-5">NOS MEILLEURS VENTES</h3>
    <div class="row row-cols-md-3 gx-5">

        {% for product in products %}
        <div class="col">
            <div class="">
                <div class="bgImgCardParent d-flex justify-content-center">
                    <div class="bgImgCard bg-warning"></div>
                    <img src="{{ asset('image/promess-croquette.png') }}" class="image_carte" alt="coucou">
                </div>
                <div class="row">
                    <div class=" p-3 bg-light me-1">
                        <p class="card-text fw-bold"><span class="text-uppercase">{{ product.brand.name }}</span> - {{ product.name }}</p>
                    </div>
                    <div class="col-12 my-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-8 p-3 bg-light">
                                <p class="card-text fw-bolder text-uppercase">à partir de {{ product.priceHT }} EUR</p>
                            </div>
                            <a type="button" href="{{ path('basket_add', {'id': product.id })}}" class="btn col-2" name="button"><img src="{{ asset('logo/plus.svg') }}" alt=""></a>
                            <a type="button" class="btn col-2" name="button"><img src="{{ asset('logo/shopping-cart.svg') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

    <section class="container-fluid bg-light d-flex justify-content-center align-items-center my-5 py-5 ">
        <div class="containerLuneText w-100 d-flex flex-column align-items-end justify-content-around">
            <h3>ON PART SUR LA LUNE !</h3>
            <p>Besoin de VACANCES ?</p>
            <p>Offrez lui un voyage qu'il n'est pas prêt d'oublier</p>
            <div class="my-3">
                <button type="col-12 button" class="btn border-warning text-warning px-3 text-uppercase" href="#boutique">nos plannings</button>
            </div>
            <div class="my-3">
                <button type="col-12 button" class="btn border-warning text-warning px-3 text-uppercase" href="#boutique">je réserve !</button>
            </div>
        </div>
        <div class="containerLuneImage w-100">
            <img src="{{ asset('image/blackMoon.png')}}" alt="">
        </div>
    </section>

    <section class="container py-5 my-2">
        <h3 class="text-center text-uppercase mb-5">Pas de panique à bord !</h3>
        <div class="row row-cols row-col-md-5">
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <img class="logo_confience text-center" src="{{ asset('logo/shop.svg') }}" alt="">
                    <p class="text-center mt-4"><b>Retrait gratuit</b></p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <img class="logo_confience text-center" src="{{ asset('logo/delivery.svg') }}" alt="">
                    <p class="text-center mt-4"><b>Livraison offerte </b></br> domicile dès 35e</p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <img class="logo_confience text-center" src="{{ asset('logo/passkey.svg') }}" alt="">
                    <p class="text-center mt-4"><b>Paiement sécurisé</b></p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <img class="logo_confience text-center" src="{{ asset('logo/money-bag.svg') }}" alt="">
                    <p class="text-center mt-4"><b>Retours gratuits</b></p>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <img class="logo_confience text-center" src="{{ asset('logo/help.svg') }}" alt="">
                    <p class="text-center mt-4"><b>Aide et contact </b></br> Une question ?</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid pt-5 findUs">
        <div class="row p-0 row-cols-2 h-100">
            <iframe class="col" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92100.56851778123!2d4.272813993630564!3d43.83213766332385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b42d0bd6e85339%3A0xde88134f9f200c03!2zTsOubWVz!5e0!3m2!1sfr!2sfr!4v1630958298777!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="col bg-primary d-flex flex-column justify-content-center align-items-end">
                <h3 class="text-uppercase text-light">Où nous trouver ?</h3>
                <p class="text-uppercase text-light">Notre boutique vous accueille de 8h à 19h du lundi au samedi, et ce même les jours fériés.</p>
                <div class="">
                    <button type="col-12 button" class="btn bg-warning text-light px-3" href="#boutique">NOS PARTENAIRES</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
