<nav>
    <div class="wrapper">
        <div class="logo"><a href="{{ path('home')}}"><img class="logo_animalerie" src="{{ asset('image/Logo2.png')}}" alt="logo"> </a></div>
        <ul class="nav-links">
            <li><a href="#" class="text-uppercase">la nimes'alerie ?</a>
                <ul class="drop-menu">
                    <li><a href="#">Drop menu 1</a></li>
                    <li><a href="#">Drop menu 2</a></li>
                    <li><a href="#">Drop menu 3</a></li>
                    <li><a href="#">Drop menu 4</a></li>
                </ul>
            </li>
            <li><a href="#" class="text-uppercase">partenaires</a>
                <ul class="drop-menu">
                    <li><a href="#">Drop menu 1</a></li>
                    <li><a href="#">Drop menu 2</a></li>
                    <li><a href="#">Drop menu 3</a></li>
                    <li><a href="#">Drop menu 4</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="text-uppercase">boutique</a>
                <div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <a href=""><img src="{{ asset('image/blackMoon.png') }}" alt=""></a>
                        </div>
                        {% for mc in mainCats %}
                        <div class="row">
                            <header>{{ mc.name }}</header>
                            <ul class="mega-links">
                                {% for category in categories %}
                                    {% if category.category is not null and category.category.id == mc.id %}
                                        <li> <a href="#" class="text-uppercase">{{ category.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="">
            <span><a href="{{ path('admin_index') }}" class="btn text-warning">ADMIN</a></span>
            <span><a href="{{ path('app_logout') }}" class="btn text-warning">SE DECONNECTER</a></span>
        </div>
        {% elseif is_granted('ROLE_USER') %}
        <div class="">
            <span><a href="" class="btn text-warning">MON COMPTE</a></span>
            <span><a href="{{ path('app_logout') }}" class="btn text-warning">SE DECONNECTER</a></span>
        </div>
        {% else %}
        <span><a href="{{ path('app_login') }}" class="btn text-warning">SE CONNECTER</a></span>
        {% endif %}
    </div>
</nav>
</div>
